
.quiz-generator {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

button:hover {
    background-color: #4cae4c;
}

.quiz-results {
    text-align: center;
    margin-top: 50px;
}

.quiz-results h2 {
    font-size: 48px;
    color: #4CAF50;
}

.quiz-results p {
    font-size: 24px;
    margin: 20px 0;
}

.quiz-results button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




.quiz-question {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: white;
    
}
.quiz-question h2 {
    color: #00897b;
    font-size: 24px;
    margin-bottom: 20px;
}

.quiz-question h3 {
    color: #00897b;
    font-size: 20px;
    margin-bottom: 10px;
}

.quiz-question p {
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
}

.quiz-question .answer-section {
    margin-top: 100px; /* Add space above the answer section */
    margin-bottom: 150px; /* Add space below the answer section */
}

.quiz-question form {
    margin-bottom: 20px;
}

.quiz-question input[type="text"] {
    border: none;
    border-bottom: 2px solid #333; /* Underline effect */
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    color: #333;
    outline: none; /* Remove the default outline */
    margin-bottom: 15px;
    box-sizing: border-box;
}

.quiz-question input[type="text"]:focus {
    border-bottom: 2px solid #00897b; /* Change underline color on focus */
}

.quiz-question button {
    background-color: #00897b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
}

.quiz-question button:hover {
    background-color: #007366;
}

.evaluation {
    margin-top: 100px;
    margin-bottom: 150px;

}

.evaluation h3 {
    color: #00897b;
    font-size: 20px;
    margin-bottom: 10px;
}

.evaluation p {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.evaluation button {
    background-color: #00897b;
    float: right;
}

.evaluation button:hover {
    background-color: #007366;
}


