* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  footer {
    background-color: #2196F3;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
  padding-bottom: 60px;
  }

  .footer-content {
    max-width: 70%;
    line-height: 1.5;
  }

  .footer-content p {
    padding-right: 50%;
    padding-top: 2%;
    margin-left: 20px;
    color: white;
  }

  .footer-links {
    max-width: 20%;
    margin-left: auto;
    text-align: left;
    padding-bottom: 2%;
  }

  .footer-links h3 {
    margin-top: 0;
    font-size: 25px;
    font-weight: bold;
  }

  .footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .footer-links li {
    margin-bottom: 5px;
  }

  .footer-links a {
    color: white;
    text-decoration: none;
  }

  .footer-credit {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .footer-credit p {
    color: white;
    font-size: 15px;
    padding:15px;
    background-color: #1d87de97;
  }

  .footer-credit span {
    font-weight: bold;
  }

  @media screen and (min-width: 250px) and (max-width: 767px) {
    .footer-content {
      max-width: 100%;
    }

    .footer-links {
      max-width: 40%;
    }
  }

  